{% extends 'bakery/base.html' %}

{% block title %}Каталог товаров{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Наши товары</h2>

    {% if products %}
        <div class="list-group">
            {% for product in products %}
                <a href="{% url 'product_detail' product.pk %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    {{ product.name }}
                    <span class="badge bg-secondary">{{ product.price }}֏</span>
                </a>
            {% endfor %}
        </div>
    {% else %}
        <p>Нет товаров.</p>
    {% endif %}
</div>
{% endblock %}

